html {
  font-family: 'Abel', sans-serif;
  /* font-family: 'Syncopate', sans-serif; */
  /* font-family: 'Lekton', sans-serif; */
  font-size: 16px;
}

body {
  padding: 1rem;
}

p {
  font-size: 2rem;
}

.undercommons {
  display: none;
}

@media screen and (orientation: landscape) {
  body {
    background-color: blue;
  }
}
